[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-extensions = "*"
requests = "*"
channels = "*"
django-heroku = "*"
gunicorn = "*"
Faker = "*"
randomcolor = "*"
channels-redis = "*"
Pillow = "*"
django-storages = "*"
boto3 = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
